<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>AD Manager Platform</title>
    {% load static %}
    <style>
        .container {
            text-align: center;
        }
        section{
            line-height: 10px; 
        }
        .box {
          display: inline-block; /* 인라인 블록 요소로 배치 */
          width: 100px; /* 원하는 너비 설정 */
          height: 100px; /* 원하는 높이 설정 */
          margin: 10px; /* 각 상자 사이의 간격 설정 */
          text-align: center; /* 내부 텍스트 가로 정렬을 위해 사용 */
          line-height: 100px; /* 세로 정렬을 위해 사용 */
        }
        body {
            font-family: Arial, sans-serif;
        }
        header, footer {
            background-color: rgba(11, 0, 0, 0.58);
            color: white;
            text-align: center;
            padding: 10px 0;
        }
        section {
            display: flex;
        }
        article, aside {
            border: 1px;
            padding: 15px;
            margin: 10px;
        }
        aside {
            flex-basis: 20%;
        }
    </style>

    
</head>
<body>
    <header>
        <link rel="stylesheet" href="{% static 'css/headerStyles.css' %}">
        
        <h2>AD Manager Platform - AD List</h2>
        <input type="button" id="ADDo" value="ADD">
        <input type="button" id="ADTo" value="AD Test">

        <div id="ADDcontainer" class="hidden">
            <div id="ADDcontent">
                <div class="name">시작 날짜<br>
                <input type="date" id="adStartDate" min="2024-01-17" value="2024-01-17">
            
                <div class="name">type<br>
                    <select id="adType"><option>광고타입</option></select>
                </div>
                <div class="name">title<br>
                    <input type="text" id="adTitle" placeholder="title">
                </div>
                <div class="name">시작 날짜<br>
                    <input type="date" id="adStartDate" min="2024-01-17" value="2024-01-17">
                </div>
                <div class="name">종료 날짜<br>
                    <input type="date" id="adEndDate" min="2024-01-18" value="2024-01-18">
                </div>
                <div class="name">
                    <input type="button" class="ADDc" id="ADDok" value="확인">
                    <input type="button" class="ADDc" id="ADDcancel" value="취소">
                </div>
            </div>
        </div>

        <div id="ADTcontainer" class="hidden">
            <div id="ADTcontent">
                <p>AD Test구현해야해용</p>
                <div class="name">
                    <input type="button" class="ADTc" id="ADTok" value="확인">
                    <input type="button" class="ADTc" id="ADTcancel" value="취소">
                </div>
            </div>
        </div>


        <script src="{% static 'js/header.js' %}"></script>
    </header>
    





    




    <section class="container">
        <link rel="stylesheet" href="{% static 'css/searchStyles.css' %}">

        <select id="searchSelect"><option>검색타입</option></select>
        
        <input type="text" id="searchContent" placeholder="검색어">
        
        <input type="button" id="search" value="검색">

    </section>



    <section>
        <div style="flex-grow: 2; margin-right: 20px;">
            <!-- 광고 이벤트 섹션 -->
            <article>
                <link rel="stylesheet" href="{% static 'css/tableStyles.css' %}">
                <table border="1">
                    <tr>
                        <th>idx</th>
                        <th>title</th>
                        <th>text</th>
                        <th>Exposure datetime</th>
                        <th>count</th>
                        <th>regdate</th>
                        <th>action</th>
                    </tr>
                    
                    <script src="{% static 'js/adTable.js' %}"></script>
                    

                    <div id="detailContainer" class="hidden">
                        <div id="detailContent">
                            <p>DETAIL 구현해야합니다</p>
                            <div class="name">
                                <input type="button" class="detailC" id="detialOk" value="확인">
                                <input type="button" class="detailC" id="detailCancel" value="취소">
                            </div>
                        </div>
                    </div>  
                    <!--edit, del, detail,test 구현해야합니다--><div id="editContainer" class="hidden">
                        <div id="editContent"><div class="name">시작 날짜<br>
                            <input type="date" id="adStartDate" min="2024-01-17" value="2024-01-17">
                        
                            <div class="name">type<br>
                                <select id="adType"><option>광고타입</option></select>
                            </div>
                            <div class="name">title<br>
                                <input type="text" id="adTitle" placeholder="title">
                            </div>
                            <div class="name">시작 날짜<br>
                                <input type="date" id="adStartDate" min="2024-01-17" value="2024-01-17">
                            </div>
                            <div class="name">종료 날짜<br>
                                <input type="date" id="adEndDate" min="2024-01-18" value="2024-01-18">
                            </div>
                            <div class="name">
                                <input type="button" class="editC" id="editOk" value="확인">
                                <input type="button" class="editC" id="editCancel" value="취소">
                            </div>
                        </div>
                    </div>
            

                    <div id="delContainer" class="hidden">
                        <div id="delContent">
                            <p>DEL 구현해야합니다</p>
                            <div class="name">
                                <input type="button" class="delC" id="delOk" value="확인">
                                <input type="button" class="delC" id="delCancel" value="취소">
                            </div>
                        </div>
                    </div>
            

                </table>
            </article>
            <!-- 추가 질문과 답변 -->
        </div>
    </section>

</body>
</html>
<!--edit, del, detail,test 구현해야합니다-->